body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.landing {
  width: 1243px;
  padding-inline: 100px;
  margin-bottom: 115px;
}

nav {
  width: 100%px;
  height: 68px;
  justify-content: space-between;
  display: flex;
  margin: 40px 0px 70px 0px;
  align-items: center;
}

.logo {
  display: flex;
  width: 219.537px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 12.92px;
}

.wrapper-nav {
  width: 811px;
  height: 68px;
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-nav li {
  list-style: none;
  font-family: "Space Grotesk";
}

.wrapper-nav a {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
  color: black;
  font-family: "Space Grotesk";
}

.button {
  border: 1px solid #000;
  border-radius: 14px;
}

.button a {
  text-decoration: none;
  color: #000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  padding: 20px 35px;
  align-items: flex-start;
}

.header {
  width: 1240px;
  height: 515px;
  justify-content: space-between;
  display: flex;
  gap: 108.54px;
}

.text {
  width: 531px;
  height: 481px;
}

.besar {
  width: 531px;
  height: 231px;
}

.besar h1 {
  font-family: Space Grotesk;
  font-size: 60px;
  line-height: 76.56px;
  text-align: left;
  margin: 0;
}

.kecil {
  width: 498px;
  height: 112px;
  margin: 35px 0px;
}

.kecil p {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.illustration img {
  width: 600.46px;
  height: 515px;
}

.tombol {
  width: 194px;
  height: 28px;
  padding: 20px 35px 20px 35px;
  gap: 10px;
  border-radius: 14px;
  opacity: 0px;
  background: #191A23;
  ;
}

.tombol a {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.logo-types {
  width: 1240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  gap: 96px;
  padding-inline: 100px;
}

.logo-types li {
  list-style: none;
}

.logo-types img {
  width: 128.63px;
  height: 48px;
}

.subheading {
  width: 1240px;
  height: 51px;
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline: 100px;
  margin: 115px 0px;
}

.judul {
  width: 178px;
  height: 51px;
  background-color: #B9FF66;
  border-radius: 0px 7px 0px 7px;
  text-align: center;
}

.judul h2 {
  font-family: Space Grotesk;
  font-size: 40px;
  font-weight: 500;
  line-height: 51.04px;
  margin: 0;
}

.isi {
  width: 580px;
  height: 46px;
  gap: 0px;
  opacity: 0px;

}

.isi p {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  margin: 0;
}

.cardselection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 1010px;
  gap: 40px;
  padding-inline: 100px;
  margin-bottom: 40px;
}

.card1,
.card4 {
  display: flex;
  width: 600px;
  height: 310px;
  border-radius: 45px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  box-shadow: 0px 5px 0px 0px #191A23;
  border: 1px solid rgba(25, 26, 35, 1);
  background: rgba(243, 243, 243, 1);
}

.content1,
.content4 {
  display: block;
  width: 221px;
  height: 210px;
  margin: 50px 0 50px 50px;
}

.typo1{
  width: 221px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}
.typo4{
  width: 90px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
} 

.typo1 h3,
.typo4 h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: #B9FF66;
}

.typo1a{
  width: 197px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}
.typo4a{
  width: 161px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
} 

.typo1a h3,
.typo4a h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: #B9FF66;
}

.learn-more1,
.learn-more4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 41px;
  gap: 15px;
  opacity: 0px;
  margin-top: 93px;
}

.learn-more1 p,
.learn-more4 p {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.learn-more1 img,
.learn-more4 img {
  width: 41px;
  height: 41px;
}

.foto-card1,
.foto-card4 {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
  margin: 50px 50px 0px 50px;
}

.foto-card1 img,
.foto-card4 img {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
}

.card2,
.card5 {
  display: flex;
  width: 600px;
  height: 310px;
  border-radius: 45px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  box-shadow: 0px 5px 0px 0px #191A23;
  border: 1px solid rgba(25, 26, 35, 1);
  background: rgba(185, 255, 102, 1)
}

.content2,
.content5 {
  display: block;
  width: 221px;
  height: 210px;
  margin: 50px 0 50px 50px;
}

.typo2{
  width: 209px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;

}
.typo5 {
  width: 133px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}

.typo2 h3,
.typo5 h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.typo2a{
  width: 178px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}
.typo5a {
  width: 137px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}

.typo2a h3,
.typo5a h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.learn-more2,
.learn-more5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 41px;
  gap: 15px;
  opacity: 0px;
  margin-top: 93px;
}

.learn-more2 p,
.learn-more5 p {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.learn-more2 img,
.learn-more5 img {
  width: 41px;
  height: 41px;
}

.foto-card2,
.foto-card5 {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
  margin: 50px 50px 0px 50px;
}

.foto-card2 img,
.foto-card5 img {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
}

.card3,
.card6 {
  display: flex;
  width: 600px;
  height: 310px;
  border-radius: 45px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  box-shadow: 0px 5px 0px 0px #191A23;
  border: 1px solid rgba(25, 26, 35, 1);
  background: rgba(25, 26, 35, 1)
}

.content3,
.content6 {
  display: block;
  width: 221px;
  height: 210px;
  margin: 50px 0 50px 50px;
}


.typo3{
  width: 197px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}
.typo6 {
  width: 213px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}

.typo3 h3{
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.typo6 h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: #B9FF66;
}

.typo3a{
  width: 161px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}
.typo6a {
  width: 138px;
  height: 38px;
  gap: 10px;
  border-radius: 7px;
}

.typo3a h3{
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.typo6a h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
  margin: 0;
  text-align: center;
  border-radius: 7px;
  color: rgba(0, 0, 0, 1);
  background-color: #B9FF66;
}
.learn-more3,
.learn-more6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  height: 41px;
  gap: 15px;
  opacity: 0px;
  margin-top: 93px;
}

.learn-more3 p,
.learn-more6 p {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.learn-more3 img,
.learn-more6 img {
  width: 41px;
  height: 41px;
}

.foto-card3,
.foto-card6 {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
  margin: 50px 50px 0px 50px;
}

.foto-card3 img,
.foto-card6 img {
  width: 210px;
  height: 210px;
  padding: 0px 0.15px 0px 1px;
}